@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121c26;
  color: #ffffff;
}

.visualizer {
  width: 100vw;
  height: 100vh;
}

.bubble {
  cursor: pointer;
}

.bubble text {
  text-anchor: middle;
  font-size: 12px;
}

.link {
  /* stroke-width: 2px; - Removed to allow D3 to control stroke-width */
}

input[type="file"], input[type="radio"], input[type="checkbox"], input[type="number"], label {
  margin: 10px;
  color: #ffffff;
}

input[type="number"] {
  width: 100px;
  background-color: #2a3a4a;
  color: #ffffff;
  border: 1px solid #4a5a6a;
  padding: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  background-color: #2a3a4a;
  color: #ffffff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #2a3a4a;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content label {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content label:hover {
  background-color: #4a5a6a;
}
